<img src={{image.link}} alt='portfolio_category' class='portfolio-image'>
<br>
{{#link-to 'portfolio-image/edit'}}
  <button class='btn btn-xs btn-default'>EDIT</button>
{{/link-to}}
<button class='btn btn-xs btn-danger'{{action 'deleteLink'}}>DELETE</button>
