{{#if matchTag}}
  <img src={{image.link}} alt='portfolio_category' class='portfolio-image'>
  <br>
  {{#if canEdit}}
    {{#link-to 'portfolio-image/edit' image}}
      <button class='btn btn-xs btn-default'>EDIT</button>
    {{/link-to}}
    <button class='btn btn-xs btn-danger'{{action 'deleteLink'}}>DELETE</button>
  {{/if}}
{{/if}}
