{{portfolio-image/edit image=model
                        save='save'
                        cancel='cancel'}}
<img src={{image.link}} alt='portfolio_category' class='portfolio-image'>
<br>
<button class='btn btn-xs btn-default'{{action 'editLink'}}>EDIT</button>
<button class='btn btn-xs btn-danger'{{action 'deleteLink'}}>DELETE</button>
