<div class="main-content chalk-text">
  <h1>about us info goes here</h1>
  <p>Providing quality workmanship for your home improvement needs. We will work with you to ensure all your needs and expectations are met. No job too small.</p>
</div>
