<div class="main-content chalk-text">
  <h2>portfolio categories go here</h2>
  {{#each model.images as |image|}}
    {{portfolio-image image=image
                      editLink='editLink'
                      deleteLink='deleteLink'}}
  {{/each}}
  {{#each model.category as |tag|}}
    fghjk
  {{/each}}
  {{#link-to 'portfolio-image/new'}}
  Add a link
  {{/link-to}}
</div>
<div class="categories">
  {{#each category as |tag|}}
    {{tag}}
  {{/each}}
</div>
