<div class="main-content chalk-text">
  <h2>portfolio categories go here</h2>
  {{#each model as |image|}}
    {{portfolio-image image=image
                      editLink='editLink'
                      deleteLink='deleteLink'}}
    {{image.category}}
  {{/each}}
  {{#link-to 'portfolio-image/new'}}
  Add a link
  {{/link-to}}
</div>
<div class="categories">
  {{#each category as |tag|}}
    {{tag}}
  {{/each}}
</div>
